.form-inline{
  width: 100%;

  textarea {
	margin: 35px 0;
	padding-left: 0;
	@include textareaHover;
	}
}

.form-group {
	width: 48%;

	.form-control {
	padding-left: 0;
	@include formHover;
	}
}

.form-group:first-child {
	margin-right: 15px;
}


footer form input, footer form textarea {
  @include contactForm;
}