.news>.container>.row>.col-lg-4 {
	/* padding-right: 0!important;
	  padding-left: 0!important; */
  /* margin: 5px 5px!important; */
}

 /* textarea, input {
 	
  width: 100%!important;
  padding: 20px 50px 20px 20px!important;
  line-height: 1!important;
  border-radius: 0px!important;
  border-color: #989b9c!important;
  box-shadow: 0px!important;
  margin: 10px 30px 10px 0px!important;
  background-color: #f3fafa!important;
  color: #d5dadb!important;
  font-size: 10px!important;
 }
 
 input {
 	height: 40px!important;
 }
 
 textarea{
 	height: 50px!important;
 }  */